<!-- views/dashboard.ejs -->
<!doctype html>
<html>
<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->

                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3">

                        <ul>
                            <li><a href="dashboard/promote">Promote</a></li>
                            <li><a href="dashboard/users">Users</a></li>
                            <li><a href="dashboard/employees">Employees</a></li>
                            <li><a href="dashboard/aircrafts-fleet">Aircrafts Fleet</a></li>
                            <li><a href="dashboard/routes">routes</a></li>
                            <li><a href="dashboard/airports">airports</a></li>
                            <li><a href="dashboard/flights">Flights</a></li>
                            <li><a href="dashboard/departures">departures</a></li>
                            <li><a href="dashboard/tickets">tickets</a></li>
                            <li><a href="dashboard/passengers">passengers</a></li>
                        </ul>   



                    </div>
                </div>
            </div>
        </main>
    </div>


</body>

</html>
