<!-- views/dashboard.ejs -->
<!doctype html>
<html>
<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->

                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3">



                        <ul class="demo-list-item mdl-list">
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/users">Users</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/employees">Employees</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/aircrafts-fleet">Aircrafts Fleet</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/routes">Routes</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/airports">Airports</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/flights">Flights</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/departures">Departures</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/tickets">Tickets</a></li>
                            <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href="dashboard/passengers">Passengers</a></li>
                        </ul>   




                    </div>
                </div>
            </div>
        </main>
    </div>


</body>

</html>
