<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->
                <div class="container">
                    <% if (logged) { %>
                    <h1>Welcome!</h1>
                    <% } else { %>
                    <h3>Please sign in or sign up to access everything!</h3> 
                    <% } %>
                </div>

            </div>
        </main>
    </div>


</body>

</html>
