<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->
                <div class="container">
                    <h1> Login</h1>

                    <!-- show any messages that come back with authentication -->
                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                    <%= message %>
                    </div>
                    <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Login</button>
                    </form>

                    <!--<div class="easy-container" id=6>
            
            
            
                    <form action="/login" method="post">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="sample1">Username</label>
                            <input class="mdl-textfield__input" type="text" id="username">
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="sample1">Password</label>
                            <input class="mdl-textfield__input" type="password" id="password">
                        </div>
                        <div>
                           <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
							<input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="remember" value="yes" checked>
							<span class="mdl-checkbox__label">Remember me</span>
						</label>
                        </div>
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Login</button>
                    </form>

                </div>-->
                
                

                        <hr>

                        <p>Need an account? <a href="/signup">Signup</a></p>
               
                </div>
            </div>
        </main>
    </div>


</body>

</html>
