<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include layout/head %>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <% include layout/header_drawer %>
        
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- My content here -->

                <div class="container">

                    <div class="page-header text-center">
                        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                    </div>
                    <!-- LOCAL INFORMATION -->
                    <div class="col-sm-6">
                        <div class="well">
                            <p>
                            <strong>Your ID</strong>:
                            <%= user.id %><br>
                            <strong>Your username</strong>:
                            <%= user.username %><br>
                            <strong>Your role</strong>:
                            <% if (user.is_admin == 0) { %>
                            User
                            <% } else { %> 
                            Administrator!
                            <% } %>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>


</body>

</html>
